<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tire Anomaly Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <center>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='tire_logo.jpeg') }}" alt="Tire Logo">
            <h1>Tire Anomaly Detection</h1>
        </header>
        <form id="upload-form" action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Predict</button>
        </form>
        <div id="result"></div>
    </div>
    </center>
    <script>
        document.getElementById("upload-form").addEventListener("submit", function(event) {
            event.preventDefault();
            var formData = new FormData(this);

            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById("result").innerText = data;
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
